<div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Game Name</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <label for="newGameName" class="form-label">Enter Name:</label>
        <input type="text" class="form-control" id="newGameName" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="okNewName">Ok</button>
      </div>
    </div>
  </div>
</div>

<div id="linker">https://docs.google.com/document/d/15yEOdkmTlSYGMg_4iOB8k_7ED0o_9gpmtM9Sw8eTqyg/edit</div>
<form>

  <div class="mb-3 mt-5">
    <label for="gameNumber" class="form-label">Game</label>
  <select class="form-select" aria-label="Default select example" id="gameNumber">
</select>

<div class="gap-2 mt-2">
    <button class="btn btn-lg btn-primary changers" type="button" id="addGame"><span class="material-symbols-outlined">
add
</span></button>

    <button class="btn btn-lg btn-primary changers" type="button" id="removeGame"><span class="material-symbols-outlined">
remove
</span></button>
<button class="btn btn-lg btn-primary" type="button" id="changeName">Change Game Name</button>
  </div>
  </div>
  <div class="mb-3">
    <label for="puzzleNumber" class="form-label">Puzzle Number</label>
   <select class="form-select" aria-label="Default select example" id="puzzleNumber">
  
 
</select>
  
 <div class="gap-2 mt-2">
    <button class="btn btn-lg btn-primary changers" type="button" id="addPuzzle"><span class="material-symbols-outlined">
add
</span></button>
    <button class="btn btn-lg btn-primary changers" type="button" id="removePuzzle"><span class="material-symbols-outlined">
remove
</span></button>
</div>
</div>
 <div class="mb-3">
    <label for="hintNumber" class="form-label">Hint Number</label>
    <select class="form-select" aria-label="Default select example" id="hintNumber">
</select>
  <div class="gap-2 mt-2">
    <button class="btn btn-lg btn-primary changers" type="button" id="addHint"><span class="material-symbols-outlined">
add
</span></button>

    <button class="btn btn-lg btn-primary changers" type="button" id="removeHint"><span class="material-symbols-outlined">
remove
</span></button>
  </div>

  </div>
  <hr>
  <div class="mb-3 mt-3">
    <label for="hint" class="form-label">Hint</label>
    <textarea type="text" class="form-control" id="hint" /></textarea>

  <div class="d-inline-flex mt-2">  
 <span class="fw-bold">QR String</span>
  <div class="form-check form-switch form-check-reverse position-absolute" style="right:5%;">
     <label class="form-check-label" for="flexSwitchCheckReverse">Show QR Scanner</label> 
      <input class=" btn btn-lg form-check-input checkerBox" type="checkbox" role="switch" id="showScannerSwitch">
  </div>
 
  </div>

<div class="mx-auto mt-2" style="width: 80%; display:none" id="scanner"></div>
    {{!-- <label for="hint" class="form-label">QRString</label>  --}}
    <div class="mt-2">
<input type="text" class="form-control" id="qrString" />
    </div>

 </div>
 

 
   
{{!-- 
   <div class="d-grid gap-2 mt-2">
    <button class="btn btn-primary" type="button" id="changeHint">Change Hint/QR</button>
  </div> --}}


   <div class="d-grid gap-2 mt-2 mb-3">
    <button class="btn btn-primary" type="button" id="saveHintArray">Save</button>
  </div>

</form>
<div  id="gameDataDiv" style="display:none">{{{gameData}}}</div>

