<div id="gameStates" style="display:none;">
  {{{gameStates}}}
</div>
<div id="checkboxDiv" class="mt-5 ms-4"></div>
<div class="">
  <table
    class="table table-striped mt-3 table-secondary"
    style="font-size:1em"
    id="gamesTable"
  >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">TeamName</th>
        <th scope="col">Hints Used</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody id="gamesTableBody">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  <div id="checkBoxTemplate" style="display:none">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="" value="" />
      <label class="form-check-label" for=""></label>
    </div>
  </div>
</div>