<div id="gameStates" style="display:none;">
  {{{gameStates}}}
</div>

<table
  class="table table-striped mt-5 mx-auto table-secondary"
  style="width:90%"
  id="gamesTable"
>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">TeamName</th>
      <th scope="col">Hints Used</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody id="gamesTableBody">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>