<div id="checkboxDiv" class="mt-5 ms-5"></div>

<table
  class="table table-striped mt-3 mx-auto table-secondary"
  id="leaderboardTable"
  style="width:90%"
>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">TeamName</th>
      <th scope="col">Hints Used</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody id="leaderboardTableBody">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<div
  id="linker"
  class="ms-5"
>https://docs.google.com/document/d/1HNawNy2v4WrrOyVCSNH6MIjyzDBClPPaSgf-6mZZ-nw/edit</div>

<div id="leaderboardDiv" class="text-wrap mx-auto" style="width:90%">
  {{{leaderboardData}}}
</div>

<div id="checkBoxTemplate" style="display:none">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="" value="" />
    <label class="form-check-label" for=""></label>
  </div>
</div>