<div id="mainCarouselTitle" class="mt-5 ms-3">Picture To Match Number: 1</div>
<div
  id="carouselMain"
  class="carousel slide mx-auto mb-5 mt-3"
  style="width:90%;"
>
  <div class="carousel-inner" id="innerCarousel">
    {{! <div class="carousel-item active">
      <img
        src="/images/resetImgs/restore1.jpeg"
        class="d-block w-100"
        alt="..."
      />
    </div> }}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselMain"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselMain"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div
  id="clientCarousel"
  class="carousel slide mx-auto mb-5 relative"
  style="width:90%;"
>
  <div class="carousel-inner" id="innerClientCarousel">
    {{! <div class="carousel-item active">
      <img
        src="/images/resetImgs/restore1.jpeg"
        class="d-block w-100"
        alt="..."
      />
    </div> }}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#clientCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#clientCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="">

  <div id="videoDiv" style="display:none;">
    <video class="video" id="video" width="400" height="200" autoplay></video>

    {{! <img
      src="./images/placeholder-400X200.png"
      alt="shot"
      class="shot"
      id="shot"
    /> }}
  </div>

  <div class="d-grid gap-2 mt-2">
    <button class="btn btn-primary" type="button" id="requestCam">Request Camera</button>

  </div>
  <div class="d-grid gap-2 mt-2">
    <button class="btn btn-primary" type="button" id="takePicture">Take Picture</button>

  </div>

</div>

<div id="carouselItemTemplate" style="display:none">
  <div class="carousel-item">
    <img src="" class="d-block w-100" alt="" />
  </div>
</div>

<div id="resetImgs" style="display:none">
  {{{resetImgs}}}
</div>