<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    > <span class="navbar-toggler-icon"></span> </button>
    <a class="navbar-brand" href="#">
      <!-- <img src="images/ng4.png" alt="" width="100em" height="50em" />-->
    </a>
    <div class="collapse navbar-collapse nav-text" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reset">Reset Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gamesViewer">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        {{!-- <div id="logoutDiv" style="{{{logoutDisplay}}}">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </div> --}}
      </ul>
    </div>
  </div>
</nav>